/* COMMON STYLES */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,700;1,400&family=Monoton&family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --color-main: rgba(50, 231, 255, .8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-family: "Bellota text", cursive;
    font-weight: 400;    
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.section-heading {
    font-size: 10rem;
    color: #999;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 2rem 2rem 4rem #aaa;
    opacity: 0.4;
    margin-bottom: 16rem;
}
/* END COMMON STYLES*/

/* NAVBAR */
header {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.float-bg {
    width: 140vw;
    height: 140vw;
    background-color: var(--color-main);
    position: absolute;
    top: -240%;
    left: calc(50% - 70vw);
    border-radius: 45%;
    animation: rotate 30s infinite;
}

.float-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(50, 231, 255, .2);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotate 30s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }    
}

/* NAVBAR LINKS */
.navbar {
    position: relative;
    z-index: 20;
    top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: .2rem;
    width: 1.2rem;
    word-wrap: break-word;
    text-align: center;
    transition: all 0.5s;
}

.navbar-link:hover {
    width: 15rem;
    background-color: rgba(255, 255, 255, .2);
    transition: all 2.5s;
}

.heading {
    font-size: 7rem;
    font-family: "Monoton", cursive;
    position: absolute;
    top: 18vw;
    left: 49%;
    transform: translate(-50%);
    text-shadow: 0.3rem 0.3rem 0.3rem #888;
    color: #fff;
    background-color: #fff;
    width: 80rem;
    text-align: center;
    padding: 0.8rem 1.6rem;
    border-radius: .8rem;
    opacity: 0.8;
}
/* END NAVBAR LINKS */

/* lOGO */
.logo {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}

.logo i {
    font-size: 15rem;
    color: var(--color-main);
    text-shadow: .9rem .6rem .1rem #ddd,
    -.1rem -.1rem 0.2rem #ddd;
}
/* END LOGO */
/* END NAVBAR*/

/* SECTION 1 */
.section-1 {
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customer-img {
    width: 10rem;
    height: 10rem;
    margin: 2rem 0;
    border-radius: 50%;
    object-fit: cover; /* Improves the quality */
}

.customer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    height: 50%;
}

.customer {
    width: 35rem;
    height: 45rem;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 
        1rem 1rem 2rem #ddd,
        -1rem -1rem 2rem #eee;
    transition: box-shadow 0.2s;
}

.customer:hover {
    box-shadow: 
        2rem 2rem 3rem #ddd,
        -2rem -2rem 3rem #eee;
}

.customer:first-child {
    align-self: flex-start;
}

.customer:last-child {
    align-self: flex-end;
}

.fa-quote-left {
    font-size: 4rem;
    color: #f08e0f;
}

.customer-text {
    font-size: 1.8rem;
    margin: 2.5rem auto;
    text-align: justify;
}

.customer-text::first-letter { 
    margin-left: 2rem;
}

.customer-rating {
    font-size: 2rem;
    color: #f08e0f;
}

.customer-name {
    font-size: 2rem;
    font-weight: 900;
}
/* END SECTION 1 */

/* SECTION 2 */
.section-2 .section-heading {
    margin: 15rem 0 16rem 0;
}


.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    margin-bottom: 34rem;
}

.team-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.team-member {
    width: 34rem;
    background-color: #fffeee;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 
        1rem 1rem 2rem #ddd,
        -1rem -1rem 2rem #eee;
    position: relative;
    opacity: .6;
    transition: opacity .6s;
}

.team-member:hover {
    opacity: 1;
}

.team-member:first-child {
    align-self: flex-end;
}

.team-member:last-child {
    align-self: flex-start;
}

.team-img {
    width: 100%;
    border-radius: .5rem;
}

.team-member-name {
    font-size: 2.2rem;
    font-weight: 700;
    color: #796717;
    margin-top: 2rem;
}

.team-member-name span {
    font-size: 1.7rem;
}

.team-member-skills {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

.team-member-skills li {
    font-size: 1.5rem;
    color: #505050;
}

.projects-btn {
    background-color: #fab34a;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.story-btn {
    width: 4rem;
    height: 4rem;
    background-color: #222;
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: .3rem;
    cursor: pointer;
    z-index: 65;
    transition: transform 0.5s;
}

.story-btn.change {
    transform: rotate(405deg);
}

.story-btn-line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
}

.story {
    width: 100%;
    height: 100%;
    background-color: rgba(253,69,69,0.9);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
    border-radius: 50rem 0 50rem 50rem;
    transition: all 0.5s;
}

.story.change {
    transform: scale(1);
    border-radius: 0;
}

.story-heading {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #fff;
}

.story-paragraph {
    font-size: 1.8rem;
    color: #eee;
    letter-spacing: .1rem;
    text-align: justify;
    text-indent: 2rem;
}
/* END SECTION 2*/

/* SECTION 3 */
.section-3 .section-heading {
    margin-bottom: 0;
}

.section-3 {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container {
    width: 80%;
    height: 50%;
    background-color: #e5e9ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 
        .3rem .3rem .4rem #ccc,
        -.1rem -.1rem .4rem #ccc;
    border-radius: .5rem;
    perspective: 70rem;
}

.form-img {
    width: 45rem;
    background-color: rgba(50,231,255,.8);
    padding: 5rem;
    box-shadow: -3rem 3rem 4rem #aaa;
    border-radius: .5rem;
    opacity: .8;
    transform: rotateY(20deg);  
    transition: all .5s;  
}

.form-img:hover {
    transform: translateY(-2rem) rotateY(20deg);
    box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
    width: 45rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: .7rem;
    box-shadow: 3rem 3rem 4rem #aaa;
    transform: rotateY(-20deg);
    transition: all .5s;    
}

.contact-form:hover {
    transform: translateY(-2rem) rotateY(-20deg);
    box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 
        inset .1rem .1rem .2rem #ddd,
        inset -.1rem -.1rem 2rem #ddd;
}

.contact-form textarea {
    max-width: 100%;
    min-width: 70%;
    max-height: 10rem;
    min-height: 8rem;
}

.contact-form button {
    background-color: rgba(50,231,255,.8);
    color: #fff;
    font-weight: bolder;
    letter-spacing: .5rem;
    cursor: pointer;
    transition: background-color .5s;
}

.contact-form button:hover {
    background-color: #32e7ff;
}

.copyright {
    font-size: 2rem;
    letter-spacing: .2rem;
    color: #444;
    margin-top: 8rem;
}

/* END SECTION 3 */